<% layout('/layouts/boillerplate') -%>
<body>
  <div class="row mb-3 mt-3">
    <div class="col-8 offset-2">
      <h3>Create a New Listing</h3>
      <form method="POST" action="/listings" class="row g-3 needs-validation" novalidate enctype="multipart/form-data">
        <div class="mb-2">
          <label for="title" class="form-label">Title</label>
          <input name="listing[title]" placeholder="Add a catchy title" type="text" class="form-control" required />
          <div class="valid-feedback">Title looks good</div>
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea name="listing[description]" placeholder="Enter description" class="form-control" required></textarea>
          <div class="invalid-feedback">Please enter a valid description</div>
        </div>

        <div class="mb-3">
          <label for="category" class="form-label">Category</label>
          <select name="listing[category]" class="form-select" required>
            <option value="" disabled selected>Select a category</option>
            <option value="trending">Trending</option>
            <option value="booms">Booms</option>
            <option value="iconic cities">Iconic Cities</option>
            <option value="mountains">Mountains</option>
            <option value="castles">Castles</option>
            <option value="amazing pool">Amazing Pool</option>
            <option value="camping">Camping</option>
            <option value="farms">Farms</option>
            <option value="arctic">Arctic</option>
            <option value="domes">Domes</option>
          </select>
          <div class="invalid-feedback">Please select a valid category</div>
        </div>

        <div class="mb-3">
          <label for="image" class="form-label">Image File</label>
          <input class="form-control" name="listing[image]" type="file" />
        </div>

        <div class="row">
          <div class="mb-3 col-md-6">
            <label for="price" class="form-label">Price</label>
            <input name="listing[price]" placeholder="Enter price" type="text" class="form-control" required />
            <div class="invalid-feedback">Please enter a valid price</div>
          </div>

          <div class="mb-3 col-md-6">
            <label for="country" class="form-label">Country</label>
            <input name="listing[country]" placeholder="Enter country" type="text" class="form-control" required />
            <div class="invalid-feedback">Please enter a valid country</div>
          </div>
        </div>

        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input name="listing[location]" placeholder="Enter location" type="text" class="form-control" required />
          <div class="invalid-feedback">Please enter a valid location</div>
        </div>

        <button class="btn add-btn mt-3">Add</button>
      </form>
    </div>
  </div>
</body>
