<% layout('/layouts/boillerplate') -%>
<div class="row mt-3 lg-4">
    <div class="alert alert-danger d-flex flex-wrap align-items-center md-2" role="alert">
        <div>
        <h4 class="alert-heading"> <%= message%></h4>

        </div>
      </div>
</div>
