<footer class="container">
  
  <div class="f-info">
    <div class="f-info-social">
        <p> <i class="fas fa-globe"></i>English (IN)</p>
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-square-x-twitter"></i>
        <i class="fa-brands fa-square-instagram"></i>

    </div>
    <div>wunderlust private limited
    </div>
    <div class="f-info-link">
        <a href="privacy">Privacy </a>
        <a href="term">Term </a>
    </div>
  </div>
 </footer>